{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/news.css') }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ asset('build/css/news.css') }}" ></noscript>
{% endblock %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <link rel="amphtml" href="{{ url('amp_show', { slug: post.getUrl() }) }}">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
    <meta property="og:image" content="{{ vich_uploader_asset(post, 'imageFile') ? app.request.getUriForPath(vich_uploader_asset(post, 'imageFile')) : absolute_url(asset('assets/images/no-image.png')) }}" />
    <meta property="og:image:alt" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:image:width" content="{{ imageSize ? imageSize[0] : '526' }}" />
    <meta property="og:image:height" content="{{ imageSize ? imageSize[1] : '275' }}" />
{% endblock %}

{% block body %}
    <div class="container page wrapper-post-container">
        {{ include('news/components/listPrices.html.twig', {hasContainer:false}) }}

        <div class="row post-container">
            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}

            <div class="col-12 col-md-12 col-lg-9 wrapper-post-container-left">
                {# breadcrumbs #}
                {{ include('news/components/breadcrumbs.html.twig') }}

                <article id="post-{{ post.getId() }}" class="news hentry">
                    <h1 class="entry-title block-title">{{ post.getTitle() }}</h1>
                    
                    <div class="news-container">
                        {{ contentsLazy|replace({'0979.274.245':'0904.359.249', '0979.27.42.45':'0904.359.249'})|raw }}
                    </div>

                    {# Rating and Share #}
                    <div class="rating-share-container">
                        {{ include('news/components/share.html.twig') }}
                    </div>

                    {# List comments #}
                    {{ include('news/comments/list.html.twig') }}
                    
                    {# Render form comment #}
                    {{ include('news/comments/form.html.twig') }}
                </article>
            </div>
        </div>
    </div>
{% endblock %}