<!-- Begin header -->
<div class="wrapper-container header d-none hidden-xs hidden-sm">
    <div class="container">
        <div class="row header-top">
            <div class="col-12 col-sm-8 col-md-6">
                <span class="text-left">
                    <i class="fas fa-mobile"></i>
                    <a href="tel:{{ get_setting('hotLine2') }}">{{ get_setting('hotLine1') }}</a>
                </span>
                <span class="text-left">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:{{ get_setting('emailContact') }}">{{ get_setting('emailContact') }}</a>
                </span>
            </div>
            <div class="col-12 col-sm-4 col-md-6 text-right header-social hidden-xs">
                <div class="header-social-wrapper">
                    <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Nam Việt Phát trên Facebook" rel="nofollow noreferrer">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Nam Việt Phát trên Twitter" rel="nofollow noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Nam Việt Phát trên Youtube" rel="nofollow noreferrer">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Nam Việt Phát trên Linkedin" rel="nofollow noreferrer">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToPinterest') }}" title="Nam Việt Phát trên Pinterest" rel="nofollow noreferrer">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header -->