<div id="nav">
    <div class="nav-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand navbar-brand-centered">
                                <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                                    <img alt="{{ get_setting('siteName') }}" src="{{ asset(convert_images.webpConvert2(asset('/assets/images/logo.png'), '')) }}" width="130" height="98" >
                                </a>
                            </div>
                            <button type="button" class="navbar-toggle collapsed header-search" data-toggle="collapse" data-target="#search">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-brand-centered">
                            {{ knp_menu_render('AppBundle:Builder:mainMenu', {
                                'allow_safe_labels': true,
                            })|raw }}
                            {{ knp_menu_render('AppBundle:Builder:mainMenuRight', {
                                'allow_safe_labels': true,
                            })|raw }}
                        </div>

                        <div class="collapse navbar-collapse hidden-lg" id="search">
                            <form action="{{ path('news_search') }}" method="get" id="form-search">
                                <div class="form-group">
                                    <input name="q" type="text" class="form-control search-field" placeholder="{{ 'search'|trans }}" autocomplete="off">
                                    <button type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>