<div class="col-xs-6 col-sm-3 col-md-3 news-item">
    <div class="news-item-wrapper">
        <div class="news-thumb">
            {% set template = 'news_290_250' %}
            
            {% if category is defined %}
                {% set url = path('news_show', {'slug': row.getUrl(), 'cat': category.getUrl() }) %}
                {% set template = category.getTemplate() == null ? 'news_290_250' : category.getTemplate() %}
            {% else %}
                {% set url = path('news_show', {'slug': row.getUrl() }) %}
            {% endif %}

            {% set imagePath = (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) %}
            {% set imagePathFilter = (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter(template) %}
                                    
            {% if convert_images.fileExists(imagePath) == false %}
                {% set imagePath = imagePath | imagine_filter(template) %}
            {% else %}
                {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
            {% endif %}

            <a title="{{ row.getTitle() }}" href="{{ url }}">
                <picture>
                    <!--[if IE 9]><video style="display: none"><![endif]-->
                    <source
                        data-srcset="{{ imagePath != false ? asset(imagePath) : asset(imagePathFilter) }}"
                        media="(max-width: 639px) 100vw" />
                    <source
                        data-srcset="{{ imagePath != false ? asset(imagePath) : asset(imagePathFilter) }}"
                        media="(min-width: 640px) and (max-width: 1023px) 50vw" />
                    <source
                        data-srcset="{{ imagePath != false ? asset(imagePath) : asset(imagePathFilter) }}"
                        media="(min-width: 1024px) 25vw" />
                    <!--[if IE 9]></video><![endif]-->
                    <img
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ imagePath != false ? asset(imagePath) : asset(imagePathFilter) }}"
                        class="mr-3 img-thumbnail lazyload"
                        alt="{{row.getTitle()}}" />
                </picture>
            </a>
        </div>
        <div class="news-body">
            <a title="{{ row.getTitle() }}" href="{{ url }}" title="{{ row.getTitle() }}">{{ row.getTitle() }}</a>
            <p>{{ row.getDescription()|slice(0, 130) }}</p>
        </div>
    </div>
</div>