<div class="col-xs-12 col-sm-4 col-md-3 news-item">
    <div class="news-item-wrapper">
        <div class="news-thumb">
            <a title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl(), 'cat': blockOnHomepage.category.getUrl() }) }}">
                <picture>
                    <!--[if IE 9]><video style="display: none"><![endif]-->
                    <source
                        data-srcset="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_382_298') }}"
                        media="(max-width: 639px) 100vw" />
                    <source
                        data-srcset="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_290_315') }}"
                        media="(min-width: 640px) and (max-width: 1023px) 50vw" />
                    <source
                        data-srcset="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_290_315') }}"
                        media="(min-width: 1024px) 25vw" />
                    <!--[if IE 9]></video><![endif]-->
                    <img
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_290_315') }}"
                        class="mr-3 img-thumbnail lazyload"
                        alt="{{row.getTitle()}}" />
                </picture>
            </a>
        </div>
        <div class="news-body">
            <a href="{{ path('news_show', {'slug': row.getUrl(), 'cat': blockOnHomepage.category.getUrl() }) }}" title="{{ row.getTitle() }}">{{ row.getTitle() }}</a>
            <p>{{ row.getDescription()|slice(0, 200) }}</p>
        </div>
    </div>
</div>